flows (9).json
[{"id":"512ee04e.ed66e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"86978b7c.0db908","type":"function","z":"512ee04e.ed66e","name":"PreToken","func":"global.set(\"gen\",msg.payload.gen)\nglobal.set(\"rcet\",msg.payload.rcet)\nglobal.set(\"ple\",msg.payload.ple)\nglobal.set(\"lunch\",msg.payload.lunch)\nglobal.set(\"tpc\",msg.payload.tpc)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ws\",msg.payload.ws)\nglobal.set(\"mps\",msg.payload.mps)\nglobal.set(\"rps\",msg.payload.rps)\nglobal.set(\"wps\",msg.payload.wps)\nglobal.set(\"ops\",msg.payload.ops)\nglobal.set(\"tm\",msg.payload.tm)\nglobal.set(\"p\",msg.payload.p)\nvar apikey=\"BPkCZKQbh5gE4UAVggMJVgxjF9Utdnc8Y5pttE9NbzkE\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":180,"wires":[["756f71c0.a53f"]]},{"id":"756f71c0.a53f","type":"http request","z":"512ee04e.ed66e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":180,"wires":[["8a3def7e.899bb"]]},{"id":"22ad5b79.5331c4","type":"inject","z":"512ee04e.ed66e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["86978b7c.0db908"]]},{"id":"8a3def7e.899bb","type":"function","z":"512ee04e.ed66e","name":"Pre Prediction","func":"var gen = global.get('gen')\nvar rcet = global.get('rcet')\nvar ple = global.get('ple')\nvar lunch = global.get('lunch')\nvar tpc = global.get('tpc')\nvar ms = global.get('ms')\nvar rs = global.get('rs')\nvar ws = global.get('ws')\nvar mps = global.get('mps')\nvar rps = global.get('rps')\nvar wps = global.get('wps')\nvar ops = global.get('ops')\nvar tm = global.get('tm')\nvar p = global.get('p')\nvar token=msg.payload.access_token\nvar instance_id=\"0946c585-c9b8-417c-8800-cf848484cd74\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"gender\", \"race/ethnicity\", \"parental level of education\", \"lunch\", \"test preparation course\", \"math score\", \"reading score\", \"writing score\", \"Math_PassStatus\", \"Reading_PassStatus\", \"Writing_PassStatus\", \"OverAll_PassStatus\", \"Total_Marks\", \"Percentage\"], \"values\": [[gen,rcet,ple,lunch,tpc,ms,rs,ws,mps,rps,wps,ops,tm,p]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["a4428a92.972bb8"]]},{"id":"a4428a92.972bb8","type":"http request","z":"512ee04e.ed66e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f14858bc-1f7f-4679-8ac9-352ee25771a4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":180,"wires":[["535550cc.453da"]]},{"id":"535550cc.453da","type":"function","z":"512ee04e.ed66e","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["f18b83a4.ee3fe","b7d5207.db5a7e"]]},{"id":"f18b83a4.ee3fe","type":"ui_text","z":"512ee04e.ed66e","group":"fdb70aef.286208","order":1,"width":0,"height":0,"name":"","label":"Grade","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":240,"wires":[]},{"id":"4506899d.132958","type":"ui_form","z":"512ee04e.ed66e","name":"","label":"form","group":"fdb70aef.286208","order":0,"width":0,"height":0,"options":[{"label":"gender","value":"gen","type":"text","required":true,"rows":null},{"label":"race/ethnicity","value":"rcet","type":"text","required":true,"rows":null},{"label":"parental level of education","value":"ple","type":"text","required":true,"rows":null},{"label":"lunch","value":"lunch","type":"text","required":true,"rows":null},{"label":"test preparation course","value":"tpc","type":"text","required":true,"rows":null},{"label":"math score","value":"ms","type":"number","required":true,"rows":null},{"label":"reading score","value":"rs","type":"number","required":true,"rows":null},{"label":"writing score","value":"ws","type":"number","required":true,"rows":null},{"label":"Math_PassStatus","value":"mps","type":"text","required":true,"rows":null},{"label":"Reading_PassStatus","value":"rps","type":"text","required":true,"rows":null},{"label":"Writing_PassStatus","value":"wps","type":"text","required":true,"rows":null},{"label":"OverAll_PassStatus","value":"ops","type":"text","required":true,"rows":null},{"label":"Total_Marks","value":"tm","type":"number","required":true,"rows":null},{"label":"Percentage","value":"p","type":"number","required":true,"rows":null}],"formValue":{"gen":"","rcet":"","ple":"","lunch":"","tpc":"","ms":"","rs":"","ws":"","mps":"","rps":"","wps":"","ops":"","tm":"","p":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":220,"wires":[["86978b7c.0db908"]]},{"id":"b7d5207.db5a7e","type":"debug","z":"512ee04e.ed66e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":100,"wires":[]},{"id":"fdb70aef.286208","type":"ui_group","z":"","name":"Students Performance In Exam (Grade Analysis)","tab":"25b38ed5.6eb232","order":1,"disp":true,"width":"8","collapse":false},{"id":"25b38ed5.6eb232","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]